.user-modal-body {
    background-color: #5e87a5; /* Color de fondo según el diseño */
    border-radius: 15px;
    padding: 20px;
    color: white;
  }
  
  
  button.btn-warning {
    background-color: #ffeb3b; /* Color del botón "Editar Perfil" */
    border: none;
    border-radius: 10px;
  }
.custom-button {
  background-color: #ffe600;
  border: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
  