:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #87CEEB;
  --secundario: #537895;
  --verde: #8DB600;
  --naranja: #EE931E;
  --amarilloSuave: #FFF4C1;
  --amariiloBotones:#F5F200; 
}
/*  Globales **/
html {
  font-size: 62.5%;
  box-sizing: border-box; 
  scroll-snap-type: y mandatory;
}
body {
  font-size: 16px; /* 1rem = 10px */
}