:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #87CEEB;
  --secundario: #537895;
  --azulSecundario: #009FD2;
  --verde: #8DB600;
  --naranja: #EE931E;
  --amarilloSuave: #FFF4C1;
  --amariiloBotones:#F5F200; 
}
/*  Globales **/
html {
  font-size: 62.5%;
  box-sizing: border-box; 
  scroll-snap-type: y mandatory;
}
body {
  font-size: 16px; /* 1rem = 10px */
  background-color: var(--primario);
}
.app-container {
  display: flex;
  min-height: 100vh; /* Altura mínima para cubrir la altura de la pantalla */
}

/* Sidebar.css */

/* Aplica el color de fondo al contenedor principal del sidebar */
.sidebar-menu {
  border-radius: 1.5rem;
  margin: 1rem;
  width: 25rem; /* Ajusta según tus necesidades */
  background-color: var(--secundario); /* El color se aplica a todo el sidebar */
  overflow: hidden;
  min-height: 96vh; /* Asegura que el sidebar se extienda a la altura completa de la ventana */


}

/* No necesitas establecer un fondo para el header ya que el .sidebar-menu ya tiene el color */

/* Estilos para la marca del sidebar, por ejemplo, un logotipo o título */
.sidebar-menu-brand {
  display: block; /* Asegura que la marca ocupe todo el ancho disponible */
  padding: 1rem; /* Espacio alrededor del contenido del header */
  text-align: center; /* Centra el contenido horizontalmente */
  margin-bottom: 1rem; /* Espacio después del header */
  color: white; /* Color del texto en el header */
}

/* Estilos para los enlaces dentro del sidebar */
.sidebar-menu-nav-link {
  display: block;
  color: white; /* Color del texto de los enlaces */
  background-color: var(--naranja); /* Mantén el naranja para el fondo de los botones */
  padding: 1rem 2rem;
  text-decoration: none; /* No subrayado */
  margin: 0.8rem; /* Margen para espaciado */
  border-radius: 2rem; /* Bordes redondeados para los botones */
  transition: background-color 0.3s; /* Suaviza el cambio de color al interactuar */
}

/* Efecto al pasar el mouse sobre los botones */
.sidebar-menu-nav-link:hover {
  background-color: #ab6400; /* Un naranja más oscuro al pasar el mouse */
}

/* Ajusta estos estilos para manejar cómo quieres que los iconos y textos se vean y alineen */
.sidebar-menu-nav-link > .fa {
  margin-right: 2rem; /* Margen a la derecha del ícono */
}

.sidebar-menu-nav-link > span {
  /* Estilos adicionales para el texto del enlace si es necesario */
}
.sidebar-menu-nav-link.active {
  background-color: #ab6400; /* Color para el enlace activo */
}
/* Responsividad: Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .sidebar-menu {
      width: 60px; /* Ancho más pequeño para dispositivos móviles */
  }

  /* Oculta el texto para dispositivos móviles */
  .sidebar-menu-nav-title,
  .sidebar-menu-brand div {
      display: none;
  }

  /* Aumenta el tamaño de los iconos para dispositivos móviles */
  .sidebar-menu-nav-icon {
      font-size: 1.5rem;
  }
}
/*Componentes*/
.top-bar {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azulSecundario); /* Ajusta el color según tu diseño */
  
}
.top-bar-logo  {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Ocupa todo el espacio disponible */
}
.top-bar-logo img {
  height: 7rem; 
}


.top-bar-actions  {
  color: white; /* Color de los íconos */
  justify-content: flex-end;
  font-size: 3rem; /* Tamaño de los íconos */
  margin-left: 1rem; /* Espaciado entre íconos */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/**/
.page-title-bar {
  background-color: var(--verde); 
  text-align: start;
  border-radius: 2rem;
  
}
.courses-selection{
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-card {

  width: 30rem; 
  height: 30rem; 
  margin: 1rem;
  margin-left: 14rem;
  text-align: center;
  border-radius: 1.5rem; /* Bordes redondeados */
  background-color:var(--amarilloSuave); /* Ajusta el color según tu diseño */

}