:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #87CEEB;
  --secundario: #537895;
  --azulSecundario: #009FD2;
  --verde: #8DB600;
  --naranja: #EE931E;
  --amarilloSuave: #FFF4C1;
  --amariiloBotones:#F5F200; 
  --fontPrimaria:"Baloo 2", sans-serif;
  --fontSecundaria: "Poppins", sans-serif.
}
/*  Globales **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  font-size: 16px; /* 1rem = 10px */
  background-color: #cae8f4;
}

h1 {
  font-family: var(--fontPrimaria);
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-family: var(--fontSecundaria);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 6rem;
  transition: margin-left 0.5s ease;
}

.app-container.expanded {
  margin-left: 27rem; /* Ancho del sidebar cuando está expandido */
}

.app-container.collapsed {
  margin-left: 8rem; /* Ancho del sidebar cuando está contraído */
}

@media (max-width: 768px) {
  .app-container.collapsed {
    margin-left: 2rem;
    margin-right: 2rem; /* Ancho del sidebar cuando está contraído en móviles */
  }
}
/* Sidebar.css */

.sidebar-menu {
  border-radius: 1.5rem;
  margin: 1rem;
  width: 25rem;
  background: #5e87a5;
  overflow: hidden;
  min-height: 96vh;
  position: fixed;
  z-index: 100;
  transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar-menu.collapsed {
  width: 60px; /* Ancho contraído en pantallas grandes */
}

.desktop-toggle {
  display: block;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 3rem;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .sidebar-menu {
    width: 60px;
    transform: translateX(-116%);
  }

  .sidebar-menu.expanded {
    width: 25rem;
    transform: translateX(0);
  }

  .desktop-toggle {
    display: none;
  }
}

/* Estilos para la marca del sidebar, por ejemplo, un logotipo o título */
.sidebar-menu-brand {
  display: block;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.user-info {
  border: 1.5px solid white;
  background-color:#4a6e94; /* Fondo diferente */
  border-radius: 1rem;
  
  text-align: center;
 
}

.user-info h2 {
  margin: 0;
}

.sidebar-menu-brand h2 {
  display: block;
}

.sidebar-menu.collapsed .sidebar-menu-brand h2 {
  display: none; /* Ocultar texto de usuario solo en pantallas grandes */
}

@media (max-width: 768px) {
  .sidebar-menu.collapsed .sidebar-menu-brand h2 {
    display: block; /* Mostrar texto de usuario en dispositivos móviles */
  }
}

/* Estilos para los enlaces dentro del sidebar */
.sidebar-menu-nav-link {
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--fontSecundaria);
  background-color: var(--naranja);
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 1rem;
  border-radius: 2rem;
  transition: background-color 0.3s, padding 0.3s;
}

.sidebar-menu-nav-link:hover {
  background-color: var(--azulSecundario);
}

.sidebar-menu-nav-link .icon {
  margin-right: 1rem;
}

.sidebar-menu.collapsed .sidebar-menu-nav-link {
  justify-content: center;
  padding: 1rem;
}

.sidebar-menu.collapsed .sidebar-menu-nav-link span {
  display: none;
}

.sidebar-menu.collapsed .sidebar-menu-nav-link .icon {
  font-size: 2rem; /* Ajusta el tamaño de los íconos */
  margin-right: 0; /* Elimina el margen derecho para centrar los íconos */
}

.sidebar-menu-nav-link.active {
  background-color: var(--azulSecundario);
}


/*Componentes*/
.top-bar {
  display: flex;
  width: 100%;
  height: 7.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--azulSecundario);
  position: fixed;
  z-index: 10;
  padding: 0 1rem;
}

.top-bar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-bar-logo img {
  margin-top: 0;
  height: 8.5rem;
  width: 9.5rem;
}

.top-bar-actions {
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.icon.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .icon.menu-icon {
    display: block;
  }
}


/**/
.page-title-bar {
  background: linear-gradient( var(--verde) , #7e9c1c) ;
  font-family: var(--fontPrimaria);
  font-size: 0.7rem;
  font-weight: bolder;
  color: white;
  width: 30%;
  text-align: start;
  margin: 2rem;
  padding: 0rem 2rem; 
  border-radius: 2rem;
  display: flex; /* Agrega flexbox para alinear ítems verticalmente */
  justify-content: start; 
  height:auto; 
}
.courses-selection{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  position: relative;
}
.course-card {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 30rem; 
  height: 30rem; 
  margin: 1rem;
  
  text-align: center;
  border-radius: 1.5rem;
  background-color:var(--amarilloSuave); 
  border: 2px solid #ffd700;
  color: black;

}

.course-card .text-dark {
  color: black !important; 
  
}
.course-card:hover {
  transform: scale(1.05); 
}
.course-card span {
  margin-left: 1rem; 
}
.bottom-left-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19rem; 
  height: auto;
  /* Asegúrate de que no estorben a los elementos interactivos */
  z-index: -1;
}

.top-right-image{
  position: absolute;
  right: 0;
  top: 0;
  width: 19rem; /* Ejemplo */
  height: auto;
  /* Asegúrate de que no estorben a los elementos interactivos */
  z-index: -1;
}
/* */

.biblioteca-recursos {
  padding: 1rem;
}

.competencias-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  background-color: var(--amarilloSuave); /* Usa el color amarillo de tu paleta */
  border-radius: 1rem; /* Bordes redondeados para el contenedor */
  padding: 1rem; /* Espaciado interno del contenedor */
  border: 2px solid #ffd700; /* Borde del color que necesites */
}

.competencia-btn {
  border: none; /* Elimina el borde del botón */
  background: none; /* Fondo transparente para el botón */
  color: #000; /* Texto negro para el botón */
  margin: 0.5rem; /* Espaciado alrededor de cada botón */
  padding: 0.5rem 1rem; /* Espaciado interno de cada botón */
  border-radius: 0.5rem; /* Bordes redondeados para cada botón */
  font-weight: bold; /* Fuente en negrita para el texto del botón */
  cursor: pointer; /* Cursor de tipo puntero */
  transition: background-color 0.2s; /* Transición suave para el efecto de hover */
  font-size: 1.2rem;
}

.competencia-btn.active {
  color: red; /* Texto blanco para contraste */
  border-color: #0056b3; /* Borde más oscuro para mayor profundidad */
  font-weight: bold; /* Negrita para destacar */
}

.competencia-btn:hover {
  background-color: var(--amarilloSuave); /* Color al pasar el cursor sobre el botón */
  text-decoration: none; /* No subrayado */
}

.custom-table {
  background-color: #ffffff; /* Fondo blanco para la tabla */
  color: #333;
}

.custom-table thead th {
  background-color: #cacaca; /* Fondo claro para los encabezados de la tabla */
  cursor: pointer;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9; /* Fondo al pasar el mouse */
}

.competencia-descripcion {
  background-color: #e0e0e0; /* Color de fondo gris */
  padding: 1rem; /* Espaciado interno */
  margin: 1rem; /* Espaciado externo */
  border-radius: 0.5rem; /* Bordes redondeados */
  text-align: center; /* Centrar texto */
  border: 1px solid #505254;
}

/* Media queries para pantallas grandes */
@media (min-width: 768px) {
  .competencias-selector {
      justify-content: space-between;
  }

  .competencia-btn {
      margin: 0.5rem 1rem; /* Ajusta el espaciado entre los botones en pantallas grandes */
      font-size: 1.5rem; /* Aumenta el tamaño de la fuente en pantallas grandes */
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 767px) {
  .competencias-selector {
      flex-direction: column;
      align-items: center;
  }

  .competencia-btn {
      font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas móviles */
      margin: 0.3rem; /* Espaciado más pequeño para pantallas móviles */
  }
}

.react-pdf__Page__canvas {
  width: 100%;
  height: auto;
}

.react-pdf__Page__textContent {
  width: 100%;
  display: block;
  position: relative;
}


.react-pdf__Page__textContent span {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
.pdf-container {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/*FORM*/
.custom-modal .modal-dialog {
  max-width: 80%;
}

.custom-modal .modal-content {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-header {
  border-bottom: none;
  text-align: center;
}

.custom-modal .modal-title {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff;
}

.custom-modal .modal-body {
  font-size: 2rem;
  color: #333333;
}

.custom-modal .modal-body p {
  margin-bottom: 1.5rem;
}

.custom-modal .form-check-label {
  font-size: 1.5rem;
  color: #555555;
}

.custom-modal .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.custom-modal .pagination .page-item .page-link {
  color: #007bff;
  border: none;
  margin: 0 5px;
}

.custom-modal .pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}

.custom-modal .custom-button {
  background-color: #ffe600;
  border: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-modal .custom-button:hover {
  background-color: #ffcc00;
  color: #333333;
}
.custom-button {
  background-color: #ffe600;
  border: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #ffcc00;
  color: #333333;
}

/*ESTILOS DASHBOARDS*/
.container {
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.doughnut-chart-container {
  position: relative;
}

.doughnut-chart-container canvas {
  display: block;
  margin: auto;
}

.doughnut-chart-container h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
}

button.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  font-size: 1.2rem;
}

/*Ajustes*/
.ajustes-container {
  background-color: #cae8f4;
  min-height: 100vh;
  padding-top: 20px;
}

.ajustes-title {
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #5e87a5;
}

.ajustes-card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ajustes-item {
  align-items: center;
  margin-bottom: 15px;
}

.icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-col {
  display: flex;
  align-items: center;
}

.arrow-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Ruta Aprendizaje*/
.ruta-container {
  text-align: center;
  padding: 3rem;
  border-radius: 5rem;
  margin: 2.5rem 2rem 0 0;
}

.timeline {
  position: relative;
  margin: 2rem 0;
  padding: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #ccc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.timeline-item {
  position: relative;
  width: 100%;
}

.timeline-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 1;
}

.timeline-icon.completed {
  background: var(--verde);
  color: white;
}

.timeline-icon.current {
  background: rgb(61, 61, 200);
  color: white;
}

.current-topic {
  font-size: 1.5rem;
}