.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;
    background-color: var(--primario) ; 
    font-family: "Baloo 2", sans-serif;
    font-weight: bold;
}

.login-form {
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 40rem; 
}

.login-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.login-form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    font-size: medium;
    background-color: #F0F0F0;
}

.login-form button {
    width: 100%;
    padding: 1rem;
    background-color: var(--verde); 
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: larger;
}

.login-form .link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff; 
    text-decoration: none;
}

.login-form .form-check {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
}

.login-form .form-check-input {
    margin-right: 20rem;
    
}

.login-form .form-check-label {
    margin-bottom: 0;
}

.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px; 
    height: auto;
    padding-bottom: 2rem; 
}